

<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <style>
            #id1 {
                color: brown;
            }
        </style>
    </head>
<body>
    <div class="container">
        <header class="jumbotron">
            <div class="container">
                <h1 id="id1">Search A Movie</h1>
                <form action="/results" method="GET">
                    <input type="text" placeholder="search" name="search">
                    <input type="submit" class="btn btn-primary">
                </form>
            </div>
        </header>
    </div>
</body>
</html>